# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=SEP490_G57
DB_SCHEMA=SEP490_G57

# TypeORM
DB_HOST=localhost
DB_PORT=5432
DB_SYNC=false
DB_LOGGING=false

# App
PORT=3000
NODE_ENV=production

JWT_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret

# Frontend
FRONTEND_URL=http://localhost:5173
