# Environment variables for local development

COMPOSE_FILE=resources/docker/docker-compose.local.yml

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=SEP490_G57

# TypeORM
DB_HOST=localhost
DB_PORT=5432
DB_SYNC=false
DB_LOGGING=false
DB_RETRY_ATTEMPT=1
DB_RETRY_DELAY=1000

# App
PORT=3000
NODE_ENV=production

JWT_ACCESS_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret
JWT_ACCESS_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=30d

# Frontend
FRONTEND_URL=http://localhost:5173

# Firebase Admin SDK service account key file
FIREBASE_SERVICE_ACCOUNT=keys/firebase-admin.json